
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:@600;700&display=swap');

* {
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle at 50% 10%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'barlow semi Condensed', sans-serif;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
}
.container {
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
}
header {
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 50px 0px;
}
h1 {
    display: flex;
    margin: 0;
    flex-direction: column;
    font-size: 2.8rem;
    line-height: 0.9;
    text-transform: uppercase;

}
.score-container {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px 40px;
}
h4 {
    color: hsl(229, 64%, 46%);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}
.score-container p {
    color: hsl(229, 25%, 31%);
    font-size: 3.5rem;
    margin: 0;
    font-weight: 700;
}
.btn-rules {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 2px;
    padding: 10px 25px;
    font-size: 15px;
    position: fixed;
    right: 40px;
    bottom: 20px;


}
main {
    height: 350px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;

}
main::before {
    background-image: url('/bg-triangle.svg');
    content: " ";
    height: 70%;
    width: 70%;
    position: absolute;
    background-repeat: no-repeat;
    top: 20%;
    left: 12%;
    z-index: -1;
}

.btn-circle {
    border-radius : 50%;
    height: 150px;
    width: 150px;
    border: none;
    box-shadow: inset 0 -5px rgb(0, 0, 0, 0.15);
    margin: 0 25px;
}
.btn-paper {
    background: linear-gradient( hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.btn-rock {
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));

}
.btn-scissors{
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));

}
.btn-circle .wrapper {
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 6px rgb(0, 0, 0, 0.15);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.btn-circle:active {
    transform: scale(0.9);
}

.button:focus {
    outline: none;
}


.btn {
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
    color:  hsl(229, 25%, 31%);
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 2px;
    padding: 13px 44px;
    font-size: 10px;
    margin: 0 auto;
    
}

.selection {
    display: none;
    justify-content: center;
    align-items: center ;
    text-align: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
    max-width: 100%;
}


.selection .btn-circle {
    margin: 50px 100px;
    transform: scale(1.4);
}
h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    display: flex;
    margin: 0 0 20px;
    line-height: 0.8;
    font-size: 3rem;
    text-transform: uppercase;
    padding-left: 11px;


} 


.rules-modal {
    background-color: #f0f0f0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}

.rules-modal button {
    background-color: transparent;
    margin-top: 100px;
    border: none;
    transform: scale(1.5);
    cursor: pointer;
}

@media (max-width: 900px) {

    .selection .btn-circle {
        margin: 50px 20px;
        transform: scale(1);
    }
    .go-down {
        order: 1;
    }

    .selection {
        width: 500px;

    }

}













